<div class="centered-container">
  <div class="auth-card">
    
    <h2>Recuperar Contraseña</h2>
    
    <p class="description">
      Introduce tu correo y te enviaremos un enlace para crear una nueva contraseña.
    </p>

    <div class="form-group">
      <label>Correo Electrónico</label>
      <input type="email" [(ngModel)]="email" placeholder="tu@email.com">
    </div>

    <button (click)="pedirRecuperacion()" [disabled]="!email">ENVIAR ENLACE</button>

    <div class="back-link">
      <a routerLink="/login">Volver al Login</a>
    </div>

    <div *ngIf="mensaje" class="msg success">
      {{ mensaje }}
    </div>

    <div *ngIf="errorMsg" class="msg error">
      {{ errorMsg }}
    </div>

  </div>
</div>