<div class="centered-container">
  <div class="auth-card">
    
    <h2>Nueva Contraseña</h2>

    <div *ngIf="!token" class="msg error">
        Error: El enlace no es válido o ha caducado. Vuelve a solicitar el correo.
    </div>

    <div *ngIf="token">
        
        <div class="form-group">
            <label>Nueva contraseña</label>
            <input type="password" [(ngModel)]="newPwd" placeholder="Mínimo 8 caracteres">
        </div>

        <div class="form-group">
            <label>Repite la contraseña</label>
            <input type="password" [(ngModel)]="newPwd2" placeholder="••••••••">
        </div>

        <button (click)="cambiarPass()">GUARDAR CONTRASEÑA</button>
    </div>
    
    <div *ngIf="errorMsg" class="msg error">
        {{ errorMsg }}
    </div>

  </div>
</div>