<div class="card p-4" style="max-width: 400px; margin: 50px auto;">
    <h2 class="mb-3">Nueva Contraseña</h2>

    <div *ngIf="!token" class="alert alert-danger">
        Error: No hay token de seguridad. Vuelve a hacer clic en el enlace del correo.
    </div>

    <div *ngIf="token">
        <div class="mb-3">
            <label>Nueva contraseña:</label>
            <input type="password" class="form-control" [(ngModel)]="newPwd">
        </div>
        <div class="mb-3">
            <label>Repite la contraseña:</label>
            <input type="password" class="form-control" [(ngModel)]="newPwd2">
        </div>

        <button class="link-btn w-100" (click)="cambiarPass()">Guardar contraseña</button>
    </div>
    
    <div *ngIf="errorMsg" class="alert alert-danger mt-3">{{ errorMsg }}</div>
</div>