<!--<div class="app-container">
  <h1>Login de Usuario</h1>
  <app-login></app-login>
  <app-payment></app-payment>
</div> -->

<nav class="main-navbar" *ngIf="userService.showNavbar()">
  <div class="nav-brand">Gramola</div>
  <div class="nav-links">
    
    <ng-container *ngIf="!userService.isLoggedIn()">
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/register" routerLinkActive="active" class="btn-register">Registrar</a>
    </ng-container>

    <ng-container *ngIf="userService.isLoggedIn()">
        <a (click)="logout()" style="cursor: pointer;">Log out</a>
    </ng-container>

</div>
</nav>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>

