<div class="main-wrapper">
  
  <div class="header-content">
    <h2 class="main-title">La Gramola</h2>
    
    <button *ngIf="isAdmin" 
            (click)="toggleMode()" 
            class="btn-mini">
      Abrir Gramola
    </button>
  </div>

  <div class="dashboard-layout">
     </div>


  <div class="dashboard-layout">
    
    <div class="admin-column" *ngIf="isAdmin">
      <h3 class="column-title">Panel de Control</h3>
      
      <div class="admin-module">
        <app-devices></app-devices>
      </div>
      
      <div class="admin-module">
        <app-playlists (playlistPlayed)="onPlaylistPlayed()"></app-playlists>
      </div>
    </div> 

    <div class="client-column" [class.full-width]="!isAdmin">
      <app-client [isFullWidth]="!isAdmin"></app-client>
    </div> 

  </div>
</div>